/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* font-family: 'Work Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
/* font-family: 'Outfit', sans-serif; */

/* COLORS */
:root {
     --btn-and-top-color:#589195;
     --herosection-color:#DEECEC;
     --h-color:#3A415C;
     --p-color:#707686;
     --jeans-and-say-bg:#F6F8FA;
     --footer-bg:#E8EAEF;
}

/* BASIC STYLE */
*,*::after,*::before{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

html{
     font-size: 62.5%;
}
.container{
     max-width: 111rem;
     margin: 0 auto;
}
ul{
     list-style: none;
}
a{
     text-decoration: none;
     display: inline-block;
}
button{
     border: none;
     cursor: pointer;
}
.btn{
     font-family: 'Outfit', sans-serif; 
     font-weight: 400;
     font-size: 1.8rem;
     display: flex;
     align-items: center;
     text-align: center;
     line-height: 4rem;
     padding: 1rem 3rem;
     background-color: var(--btn-and-top-color);
     color: #fff;
     border-radius: 3.8rem;
     margin-top: 2.5rem;
}
p{
     color: var(--p-color);
}